version: "3"
services:
  skinet-api:
    build: .
    restart: always
    ports:
      - 7000:80

  sql-server:
    image: mcr.microsoft.com/mssql/server:2017-latest-ubuntu
    environment:
      ACCEPT_EULA: "Y"
      SA_PASSWORD: "skinet#2021"
      MSSQL_PID: Express
    ports:
      - 1433:1433

  redis:
    image: redis
    container_name: redis
    ports:
      - 6379:6379
